* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: turquoise;
}
.wrapper,
.result-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper {
  background: #fff;
  width: 550px;
  height: 500px;
  padding: 20px;
  border-radius: 10px;
  display: none;
}
.wrapper header span {
  background: turquoise;
  font-weight: 400;
  border-radius: 5px;
  padding: 0.5rem 0.8rem;
}
header {
  position: relative;
  z-index: 99;
  font-size: 1.3rem;
  height: 70px;
  padding: 0 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.2);
}
header .title {
  font-size: 26px;
  font-weight: 600;
}
header .timer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  height: 50px;
  background: turquoise;
  border-radius: 5px;
  padding: 0 12px;
  user-select: none;
}
header .timer .time-text {
  font-size: 20px;
  font-weight: 500;
}
header .timer .time-sec {
  font-size: 24px;
  font-weight: 500;
  width: 45px;
  height: 37px;
  background: #343a40;
  border-radius: 6px;
  color: #fff;
  margin-right: 3px;
  text-align: center;
  line-height: 37px;
}
.wrapper section {
  padding: 20px 30px 20px 30px;
  background: #fff;
}
.wrapper section .question {
  font-size: 1.5625rem;
  font-weight: 600;
}
.wrapper section .options-list {
  display: block;
  padding: 20px 0;
}
section .options-list .option {
  padding: 8px 15px;
  background: aliceblue;
  border: 2px solid turquoise;
  font-size: 20px;
  display: flex;
  margin-bottom: 10px;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s ease;
}
section .options-list .option:hover {
  background: turquoise;
  color: #fff;
  border-color: #b8daff;
}
section .options-list .option .icon {
  height: 25px;
  width: 25px;
  border: 2px solid transparent;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
}
section .options-list .option:last-child {
  margin-bottom: 0px;
}
section .options-list .option .tick {
  border-color: limegreen;
  background: lightgreen;
  color: limegreen;
}
section .options-list .option .cross {
  border-color: lightsalmon;
  background-color: lightsalmon;
  color: darkred;
}

.wrapper footer {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
.wrapper footer .total-questions span {
  display: flex;
  font-size: 1.25rem;
}
.wrapper footer .total-questions span p {
  font-weight: 800;
  padding: 0 5px;
}
footer .next-btn {
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  padding: 0 13px;
  background: turquoise;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
footer .next-btn:hover {
  background: #2fcaba;
}
.result-box {
  background: #fff;
  height: 300px;
  width: 300px;
  padding: 25px 30px;
  border-radius: 5px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
}
.result-box .icon {
  font-size: 100px;
  color: turquoise;
  margin-bottom: 10px;
}
.result-box .winning-text {
  font-size: 18px;
  font-weight: 600;
}
.result-box .winning-score span {
  display: flex;
  font-weight: 500;
  font-size: 15px;
}
.result-box .winning-score span p {
  font-weight: 900;
  padding: 0 4px;
}
.result-box .btns button {
  height: 40px;
  width: 75px;
  padding: 4px 8px;
  color: white;
  background: turquoise;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}
.btns button:hover {
  background: #2fcaba;
}
